.container{
    display: flex;
    flex-direction: column;
    padding: 30px;
    align-items: center;
    background-color: #fdfdfd;
    border-radius: 15px;
    max-width: 500px;
    margin: 20px auto;
}

.inputGroup{
    margin-bottom: 10px;

}
.inputLabel{
    margin-bottom: 5px;
    
}
.inputField{
    padding: 5px;
    width: 150px;
    margin-left: 8px;
}
.calculateBtn{
    padding: 15px;
    cursor: pointer;
    margin-top: 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 8px;
}
.calculateBtn:hover{
    background-color: #45a049;
}
.checkBoxInput{
    margin-right: 10px;
}
.error{
    color: red;
    margin-top: 8px;
    font-style: italic;
}